 /* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    margin: 0;
    padding: 0;
}
main{
    min-height: 80vh;
}
h3 {
    padding: 1rem 0;
}
.rating span {
    margin: 0.1rem;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: flex;
}
.carousel-caption {
    position: absolute;
    top:0;
}
.carousel-caption h2 {
    color: #fff;
}
.carousel{
    padding-top: 275px !important;
}
.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    z-index: 2222;
}
.carousel a {
    margin: 0 auto;
}

h1{
    font-size: 1.8rem;
    padding: 0.5rem 0;
}
h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}


/* .loader-container{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh!important;
     background-color: red !important; 
 }  */

 /* .loader{
    left: 50% !important;
    top: 30% !important;
    z-index: 1000 !important;
    position: absolute !important;
     background-color:white !important;  */


